.information{
    display: inline !important;
}

nav{
    border-bottom: solid 0.5px black;
}

.nav-item{
    padding: 5px;
}

.icons{
    height: 40px;
    width: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    right: 0;
    background-color: #fefefe;
    width: 35%;
    height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    overflow: auto;
  }

  #order-container{
    text-align: left;
    height: 650px;
    width: 630px;
    border: 1px solid black;
    overflow: auto;
  }

  #orderinfo{
    padding-top: 10px;
  }

  #orderinfo button{
    border: 1px solid black;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #fffff4;
    color: black;
  }
  
  .modal-body {
    margin: auto;
    text-align: center;
  }

  
  /* Modal Animation */
  @-webkit-keyframes slideIn {
    from {right: -300px; opacity: 0} 
    to {right: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

/*Staff Menu Table Order*/
.table-orders-div{
  text-align: center;
  padding: 10px;
}
.tableorders{
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  height: 600px;
  align-items: center;
  overflow: auto; 
}

#tableordercontainer{
  border: 1px solid black;
  margin: auto;
  width: 95%;
  height: 50%;
  overflow: auto;
}