#logo{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;

}
#informationform{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.form-group{
    padding: 10px;
}

.btn:hover{
    background-color: grey;
}