<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="menupagecss.css">
  <title>Menu</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <p>[Logo]</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <span class="navbar-nav me-auto">Unplugged</span>

        <div class="d-flex btn-group-vertical gap-2 p-1">
          <button class="btn btn-light" type="button">VIEW ORDER</button>
          <button class="btn btn-light" type="button">VIEW BILL</button>
        </div>

        <div class="d-flex align-middle p-3">
          <p>[Small Logo]</p>
        </div>

        <div class="d-flex align-middle information">
          <p>[PERSON NAME]</p>
          <p>TABLE NO: 05</p>
        </div>

      </div>
    </div>
  </nav>

  <!-- JS code to change class attribute 'active' -->
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Today's Special</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MAIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PASTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SIDES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BEVERAGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DESSERTS</a>
        </li>
      </ul>
    </div>
  </nav>
</body>

</html>